.buttonContainer {
  display: flex;
  align-items: center; /* Vertically center align items */
}

.submit {
  flex-shrink: 0;
}

.forgottenPassword {
  flex-grow: 1; /* Take up remaining space */
  text-align: center;
}
