.appBar {
  align-items: center;
}

.spacer {
  height: 50px;
}

.toolbar {
  max-width: var(--max-width);
  width: 100%;
}

.siteName {
}

.navigation {
  padding: 0 2rem;
  width: 100%;
  max-width: 1024px;
  flex-grow: 1;
}
