@import "../styles/variables";

.admin-section {
  @include admin-border();

  > header {
    padding: 0.25rem 0.5rem;
    background-color: #333;
    border-bottom: 1px solid $admin-border-color;
  }

  > main {
    padding: 0.5rem;
  }
}
