@mixin dark() {
  .dark & {
    @content;
  }

  .system & {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  }
}

.admin-main {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
}

.admin-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #4b5563;
  background-color: #eee;

  @include dark() {
    background-color: #111;
  }

  /*
  .dark & {
    background-color: #111;
  }

  .system & {
    background: red;
  }
  */
}

.system .admin-toolbar {
  @media (prefers-color-scheme: dark) {
    background-color: #111;
  }
}

.admin-body,
.admin-list-body {
  border-radius: 0.25rem;
  border: 1px solid #4b5563;
  padding: 1rem;
}

.admin-list-ody {
  padding: 0;
}

.admin-toolbar-left,
.admin-toolbar-right {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  flex: 1;
}

.admin-toolbar-middle {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  flex: 1;
  text-align: center;
  justify-content: center;
}

.admin-toolbar-right {
  justify-content: flex-end;
}

.admin-cell {
  white-space: nowrap;
  width: 1%;
}

.admin-last-cell {
  white-space: nowrap;
  width: 1%;
}

.admin-loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.admin-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.admin-table {
  @apply grid border border-gray-500 rounded;

  & > *:not(.admin-row),
  & .admin-row > * {
    @apply flex items-center py-2 px-4;
    @apply border-b border-gray-300;
    @apply transition;
  }

  & .admin-row:hover > * {
    @apply bg-gray-200;
  }

  .sortable {
    svg {
      @apply transform transition-all duration-300;
    }

    &:hover svg {
      // @apply bg-red-500;
    }
  }
}

.admin-border {
  @apply rounded border border-gray-500;
}

.admin-border-b {
  @apply border-b border-gray-500;
}
