.container {
}

.main {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #4b5563;
  background-color: #111;
}

.body, .listBody {
  border-radius: 0.25rem;
  border: 1px solid #4b5563;
  padding: 1rem;
}

.listBody {
  padding: 0;
}


.toolbarLeft,
.toolbarRight {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  flex: 1;
}

.toolbarMiddle {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  flex: 1;
  text-align: center;
  justify-content: center;
}

.toolbarRight {
  justify-content: flex-end;
}

.cell {
  white-space: nowrap;
  width: 1%;
}

.secondLastCell {
}

.lastCell {
  white-space: nowrap;
  width: 1%;
}

.loadingCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.errorCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

