.linkEditor {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 400px;
  width: 100%;
  opacity: 0.5;
  padding: 0.5rem;
  background-color: #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 8px 8px;
  border: solid 1px #4b5563;
  transition: opacity 0.5s;
  will-change: transform;

  a {
    color: blue;
  }

  .linkInput {
    flex-grow: 1;
  }

  button {
    flex-grow: 0;
    color: white;
    margin-left: 0.5rem;
  }

  .button {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 2px;
  }

  .button.hovered {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #eee;
  }

  .button i,
  .actions i {
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: -0.25em;
  }

  :global {
    .button.active {
      background-color: rgb(223, 232, 250);
    }

    .link-view {
      display: flex;
      width: 100%;
      // width: calc(100% - 24px);
      /*
      margin: 8px 12px;
      padding: 8px 12px;
      border-radius: 15px;
      */
      font-size: 15px;
      color: rgb(5, 5, 5);
      border: 0;
      outline: 0;
      position: relative;
      font-family: inherit;
    }

    .link-view a {
      display: block;
      width: 100%;
      flex-grow: 1;
      word-break: break-word;
    }

    div.link-cancel {
      background-image: url(/icons/close.svg);
      background-size: 16px;
      background-position: center;
      background-repeat: no-repeat;
      width: 35px;
      vertical-align: -0.25em;
      margin-right: 28px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
    }

    .link-confirm {
      background-image: url(/icons/success-alt.svg);
      background-size: 16px;
      background-position: center;
      background-repeat: no-repeat;
      width: 35px;
      vertical-align: -0.25em;
      margin-right: 2px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
    }

    .link-input a {
      color: rgb(33, 111, 219);
      text-decoration: underline;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 30px;
      text-overflow: ellipsis;
    }

    .link-input a:hover {
      text-decoration: underline;
    }

    .font-size-wrapper {
      display: flex;
      margin: 0 4px;
    }

    select {
      padding: 6px;
      border: none;
      background-color: rgba(0, 0, 0, 0.075);
      border-radius: 4px;
    }

    // foo bar }
  }
}
