.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  margin: 0 auto;
}

.item {
  margin: 16px 0;
  max-width: 500px;
  width: 100%;
  text-align: center;
}
