.admin-dialog {
  // position: fixed;
  // margin: auto;
  // z-index: 9999;
  //background: #000;
  // border-radius: 0.25rem;
  // border: 1px solid #4b5563;

  &::backdrop {
    cursor: pointer;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(55, 55, 55, 0.8);
    z-index: 9998;
  }

  /*
  &.large {
    margin-top: 50px;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    max-width: 980px;
  }

  &.small {
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    max-width: 400px;
  }
  */

  .title {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #4b5563;
    font-size: 1.2rem;
  }

  .body {
    padding: 0.5rem 1rem;
  }

  .admin-dialog-actions {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: right;
    & button + button {
      margin-left: 1rem;
    }
  }
}
