@import "tailwindcss/index.css";

.admin-icon {
  cursor: pointer;

  transition: opacity 300ms;

  @apply text-gray-800 dark:text-gray-200;
  &.active {
    @apply text-black dark:text-white;
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}

.admin-icon-tooltip {
  z-index: 9999;
  @apply absolute;
  // @apply  transform  -translate-x-1/2;

  @apply mt-1 px-2 py-0 rounded text-sm;

  @apply text-white bg-gray-800;
  @apply opacity-0 invisible transition-opacity duration-300;

  // @apply opacity-0 invisible transition-opacity duration-300 delay-300;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 300ms,
    visibility 0ms 300ms;

  &.show-admin-tooltip {
    @apply opacity-100 visible delay-0;
  }
}
