.openButton {
  width: 0;
  height: 0;
  padding: 0;
  margin-left: -20px;
  transition: opacity 225ms cubic-bezier(0, 0, 0.2, 1);
}

.openButtonOpen {
  opacity: 0;
  pointer-events: none;
}

.panes {
  display: flex;
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: top;
  transition: flex-grow 225ms cubic-bezier(0, 0, 0.2, 1);

  /*
  transition: margin 225ms cubic-bezier(0.4, 0.0, 0.6, 1);
  */
}

.admin {
  // display: flex;
  // justify-content: center;
  // margin: auto;
  max-width: var(--max-width);
  width: 100%;
}

/*
.mainOpen {
  transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1);
  margin-left: 240px;
}
*/

.drawer {
  width: 200px;
  padding: 4px 4px;
  margin-left: -200px;
  overflow: hidden;
  transition: margin 225ms cubic-bezier(0, 0, 0.2, 1);
}

.drawerOpen {
  margin: 0;
}

.drawerHead {
  display: "flex";
  alignitems: "center";
  // padding: theme.spacing(0, 1);
  justifycontent: "flex-end";
  text-align: right;
}

.item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
  color: #1a202c;
  border-radius: 0.125rem;
  transition: all 0.3s ease-in-out;

  &:disabled {
    opacity: 0.5;
  }

  .icon {
    flex: 0 0 auto;
    width: 1.25rem;
    height: 1.25rem;
    color: #6b7280;
    transition: all 0.075s;
  }

  .text {
    display: flex;
    margin: 0 0.75rem;
    flex-grow: 1;
    justify-content: left;
  }

  .badge {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.75rem;
    color: #fff;
    background-color: #ef4444;
    border-radius: 9999px;
  }

  &.active, &:hover:not(&:disabled) {
    background-color: #f7fafc;

    .icon {
      color: #1f2937;
    }
  }
}

@mixin dark {
  .item {
    color: #fff;

    &.active, &:hover:not(&:disabled) {
      // background-color: #4a5568;
      background-color: #333;

      .icon {
        color: #fff;
      }
    }

    .icon {
      color: #9ca3af;
    }
  }
}

:global(.darkTheme) {
  @include dark;
}
@media (prefers-color-scheme: dark) {
  :global(.autoTheme) {
    @include dark;
  }
}
